@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto+Mono:wght@300&display=swap');

.fdiv{
	padding: 0;
	margin: 0;
}
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 80px;
	background-color: #333333;
  border: 1px solid;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
  margin-left: 0px;
	align-items: center;
	font-size: 24px;
	color: #fffefe;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 0em;
	font-size: 19px;
	font-weight: 700;
	color: white;
	text-decoration: double;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Mono', monospace;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: 35px;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}
.logo{
  width: 25%; 
  display: inline-block; 
}
@media screen and (max-width: 500px) { 
  width: 70%; }
.lg{
  width: 25%; 
  display: inline-block;
  margin-left: 0px;
}


.lay{
        display: flex;
        height: 470px;
        top: 250px;
        left: 150px;
        right: 150px;
        width: 1300px;
        border-color: rgb(0, 0, 0);
        position: absolute;
        margin: auto;
        border-radius: 25px;
        box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                    0 32px 64px -48px rgba(0,0,0,0.5);
        background: transparent;
        backdrop-filter: blur(15px);
        border: 0px solid;
}
.lay{
    font-size: 27px;
    font-weight: 0;
    font-family: 'Poppins', sans-serif;
}

.lay p{
    text-indent: 50px;
}
.img-responsive{
  height: 100%;
  margin: 0;
  padding: em;
}

/* carousal side code */
.parent {
  border: 0px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.child {
  display: inline-block;
  border: 0px solid red;
  /* padding: 1rem 1rem; */
  /* vertical-align: middle; */
}
.crslmain {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.carousel slide {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}
.klim{
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 0px;
  padding-top: 0px;
  border-radius: 10px;
  height: 500px;
  width: 400px;
}
#bottone1 {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #d5f365;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 16px;
  width: 600px;
 }
 
 #bottone1:hover {
  box-shadow: 7px 5px 56px -14px #C3D900;
 }
 
 #bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #C3D900;
 }





.lastdiv{
  background: #fcfcfc;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */

  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  background: skyblue;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
ul.horizontal-list {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
  align-items: center;
}
ul.horizontal-list li {
  display: inline-block;
}
ul.horizontal-list li:not(:last-child) {
  border-right: 1px solid black;
}
ul.horizontal-list li {
  padding: 0 0.5rem;
}
ul.horizontal-list li {
  min-width: 12rem;
  text-align: center;
}

/* card */
.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  background-color: #5500ff;
}


.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
}
.card {
  border-radius: 16px;
  background: #5500ff;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;
}
.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(130px);
}


.card:not(:first-child) {
  margin-left: -130px;
}
.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.author-avatar img {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 170px;
  border-radius: 10%;
  filter: grayscale(1%);
  align-items: center;
  margin-left: 6px ;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  /* stroke: #fbf2e9; */
  stroke-width: 8;
  stroke-linecap: round;
}
.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-size: 20px;
  margin: .25rem 0 auto;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tags {
  margin: 1rem 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: .5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: .66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}
.tags .button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #000;
    background-color: #d5f365;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }



