@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.con img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.nav-item{
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.navbar{
    background-color: rgb(195, 240, 255);
}
.lay{
        display: flex;
        height: 570px;
        top: 250px;
        left: 150px;
        right: 150px;
        width: 1200px;
        border-color: rgb(0, 0, 0);
        position: absolute;
        margin: auto;
        border-radius: 25px;
        box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                    0 32px 64px -48px rgba(0,0,0,0.5);
        background: transparent;
        backdrop-filter: blur(15px);
        border: 0px solid;
}
.lay{
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
.lay p{
    text-indent: 50px;
}
.navbar-brand{
    min-height: 1px;
    min-width: 1px;
    height: 79px;
}
.carousel slide{
    height: 800px;
    border: 10px;
}